/*Natasha Dryer, nichkey@gmail.com, ©2018*/
.roboto_condensed{font-family:"Roboto Condensed", sans-serif;}
.oswald{font-family:"Oswald", sans-serif;}
.abel{font-family: 'Abel', sans-serif;}
.yanone_kaffeesatz{font-family: 'Yanone Kaffeesatz', sans-serif;}
.economica{font-family: 'Economica', sans-serif;}
.wire_one{font-family: 'Wire One', sans-serif;}
.tulpen_one{font-family: 'Tulpen One', cursive;}
.chathura{font-family: 'Chathura', sans-serif;}
.dosis{font-family: 'Dosis', sans-serif;}
.rubik{font-family: 'Rubik', sans-serif;}
.rajdhani{font-family: 'Rajdhani', sans-serif;}
.amatic_sc{font-family: 'Amatic SC', cursive;}
.julius_sans_one{font-family: 'Julius Sans One', sans-serif;}
.forum{font-family: 'Forum', cursive;}
.corben{font-family: 'Corben', cursive;}
.crushed{font-family: 'Crushed', cursive;}
.snippet{font-family: 'Snippet', sans-serif;}
.dhurjati{font-family: 'Dhurjati', sans-serif;}